---
name: Lint Code Base
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
permissions:
  contents: read
  packages: read
  statuses: write
jobs:
  build:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: super-linter/super-linter/slim@v8.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VALIDATE_CPP: false
          VALIDATE_GO: false
          VALIDATE_GO_MODULES: false
          VALIDATE_JSCPD: false
          VALIDATE_PHP_PHPSTAN: false
          VALIDATE_PHP_PSALM: false
